body {
  background-image: url(light_wool.png);
}
.logo {
    width:80px;
    float: right;
    margin-left:10px;
}
body {
    font-family: Verdana;
}    
 h1 {
     
    font-size: 180%;
    color:#8B8378;
}

.container {
  width:960px;
  margin:0px auto;
}

table {
    border-collapse:collapse;
    border: 5px solid black;
}

tr {
    border: 5px solid black;
}

nav a{
    color: gray;
    text-decoration: none;
}

tr:hover {
    background-color:#EEEEEE;
}

.active {
    font-weight:bold;
}