
.logo {
    width:80px;
   float: right;
    margin-left:10px;
}
body {
    font-family: Verdana;
}    
 h1 {
     
    font-size: 180%;
    color:#8B8378;
}

hr {
    border-color:blue;
}

.puns {
  color:#D45F05;
  font-size:12px;
}

.sci {
  color:#0564C8;
  font-size:12px;
}

body {
  background-image: url(light_wool.png);
}

.nacontainer {
  width: 50px;
  background-color:#E5F6D7;
}

