body {
  background-image: url(light_wool.png);
}
.logo {
    width:80px;
    float: right;
    margin-left:10px;
}
body {
    font-family: Verdana;
}    
 h1 {
     
    font-size: 180%;
    color:#8B8378;
}
hr {
    border-color:blue;
}