body {
  background-image: url(light_wool.png);
}
.logo {
    width:80px;
    float: right;
    margin-left:10px;
}
body {
    font-family: Verdana;
}    
 h1 {
     
    font-size: 180%;
    color:#8B8378;
}
hr {
    border-color:blue;
}

.containers {
  width:960px;
  margin: 0 auto;
}

nav a{
    color:gray;
    text-decoration:none;
}

.active {
    font-weight:bold;
}

