
.logo {
    width:80px;
   float: right;
    margin-left:10px;
}
body {
    font-family: Verdana;
}    
 h1 {
     
    font-size: 180%;
    color:#8B8378;
}

hr {
    border-color:blue;
}

.puns {
  color:#D45F05;
  font-size:12px;
}

.sci {
  color:#0564C8;
  font-size:12px;
}

body {
  background-image: url(light_wool.png);
}

.nacontainer {
  width: 50px;
  background-color:#E5F6D7;
}

.containerp {
  width:960px;
  margin:0 auto;
}

nav a {
  color: gray;
  text-decoration: none;
  margin: 0 10px;
}

.active {
  font-weight:bold;
  font-size: 18px;
}

nav a:hover {
  color:lime;
}

h2 {
  border-bottom: 2px solid blue;
  padding-bottom: 20px;
  width:890px;
}

nav {
  background-color: #FAFAFA;
  opacity: 0.9;
  position: fixed;
  top: 0;
  right: 0;
}
